.triggerBtn {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  background: transparent;
  border: 1px solid white;
  border-radius: 100%;

  span {
    display: block;

    width: 2px;
    height: 2px;

    background-color: #fff;
    border-radius: 100%;
  }
}

.itemLink,
.itemBtn {
  display: flex;
  gap: 6px;
  align-items: center;
}

.itemLink {
  color: var(--color-light-100);
  text-decoration: none;
}
