.cardsTable {
  align-items: flex-start;
  width: 100%;
  margin-bottom: 24px;
  border-bottom: none;
}

.tableRow {
  vertical-align: middle;
}

.cellForMobile {
  display: none;
}

.cellQuestion {
  overflow: hidden;
  display: flex;
  align-items: center;
  max-width: 300px;
}

.cellAnswer {
  overflow: hidden;
}

.cardImg {
  float: left;
  max-width: 118px;
  max-height: 48px;
  margin-right: 10px;
}

.cellUpdated {
  max-width: 200px;
}

.buttonsCell {
  min-width: 100px;
  text-align: right;
}

.btn {
  padding: 0;
  vertical-align: middle;
  background: none;
  box-shadow: 0 0 0 0 transparent;

  & + & {
    margin-left: 10px;
  }

  &:hover:enabled,
  &:active:enabled {
    background-color: transparent;
    box-shadow: none;

    & path {
      fill: var(--color-accent-300);
      transition: fill 0.2s ease;
    }
  }
}

@media (width <= 650px) {
  .buttonsCell {
    justify-content: space-around;
    padding: 0;
  }

  .cardsTable {
    width: 100%;
  }

  .tableBody {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .tableRow {
    border: solid 1px var(--color-dark-500);
    border-bottom: none;
  }

  .cellUpdated {
    max-width: none;
  }

  .cellQuestion,
  .cellAnswer {
    max-width: 100%;
  }

  .cellForMobile {
    display: block;
    align-self: center;
  }

  .btn {
    width: 100%;
    height: 36px;

    & + & {
      margin-left: 0;
    }
  }

  .btn:first-child {
    border-right: 1px solid var(--color-dark-500);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
