$light-theme: (
  background-color: white,
  color: black,
);
$dark-theme: (
  background-color: black,
  color: white,
);

.wrapper {
  height: 100vh;

  @each $theme-name, $theme-map in (light: $light-theme, dark: $dark-theme) {
    &.#{$theme-name} {
      @each $property, $value in $theme-map {
        #{$property}: $value;
      }
    }
  }
}
