.loader {
  position: relative;

  display: inline-block;

  box-sizing: border-box;
  width: 48px;
  height: 48px;

  border: 2px solid #ff3d00;
  border-radius: 50%;

  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';

  position: absolute;
  top: 4px;
  left: 4px;

  box-sizing: border-box;
  width: 12px;
  height: 12px;

  border: 2px solid var(--color-light-100);
  border-radius: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
