.selectRoot {
  user-select: none;
  display: flex;
  flex-direction: column;
}

.label {
  color: var(--color-dark-100);
}

.labelDisabled {
  color: var(--color-dark-300);
}

.SelectContent {
  box-sizing: border-box;
  width: 100%;
  min-width: 13.12rem;

  background-color: var(--color-dark-900);
  border: 1px solid var(--color-dark-300);
  border-radius: 0.12rem;
}

.SelectIcon {
  display: flex;
  fill: var(--color-light-100);
}

.SelectTrigger {
  all: unset;

  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  width: 13.12rem;
  height: 2.25rem;
  padding: 0 12px;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  background-color: var(--color-dark-900);
  border: 1px solid var(--color-dark-300);
  border-radius: 0.12rem;

  &:active {
    border: 1px solid var(--color-dark-100);

    .SelectContent {
      border: 1px solid var(--color-dark-100);
    }
  }

  &:hover {
    background-color: var(--color-dark-500);
    border: 1px solid var(--color-dark-100);
  }

  &:focus {
    outline: 2px solid var(--color-info-700);
  }

  &[data-disabled] {
    pointer-events: none;
    color: var(--color-dark-300);

    .SelectIcon {
      fill: var(--color-dark-300);
    }
  }
}

.SelectItem {
  user-select: none;

  display: flex;
  align-items: center;

  box-sizing: border-box;
  min-height: 2.25rem;
  padding: 0 12px;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  &[data-disabled] {
    pointer-events: none;
    color: white;
  }

  &[data-highlighted] {
    color: var(--color-accent-300);
    background-color: var(--color-accent-900);
    outline: none;
  }
}
