.email {
  display: inline-block;
  margin-bottom: 13px;
  color: var(--color-dark-300);
  transition: 1s;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 420px;
  min-height: 348px;
  margin: 36px auto;
  padding: 33px 20px 41px;

  text-align: center;

  border: 1px solid var(--color-dark-500);
  border-radius: 5px;

  &:hover {
    .email {
      color: var(--color-dark-100);
    }
  }
}

.avatarEditor {
  display: none;
}

.title {
  margin-bottom: 27px;
}

.avatarGroup {
  position: relative;
}

.icon {
  cursor: pointer;

  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  opacity: 0.6;
  background-color: var(--color-dark-500);
  border-radius: 4px;
  box-shadow: 0 0 5px var(--color-dark-300);

  &:hover {
    opacity: 1;
    box-shadow: 0 0 5px var(--color-accent-300);
    transition:
      box-shadow,
      opacity 0.2s ease;

    path {
      fill: var(--color-accent-300);
      transition: fill 0.2s ease;
    }
  }
}

.trashIcon {
  bottom: 0;
  left: 0;
}

.editIcon {
  right: 0;
  bottom: 0;
}

.customAvatar {
  width: 96px;
  height: 96px;
}

.editName {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.iconName {
  cursor: pointer;
  margin-left: 9px;

  &:hover {
    path {
      fill: var(--color-info-300);
    }
  }
}

.button {
  width: 122px;
}
