.signInFormWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 420px;
  padding: 33px 36px 25px;

  @media screen and (width <= 600px) {
    width: calc(100% - 40px);
    min-width: 280px;
    max-width: 420px;
    margin-right: 20px;
    margin-left: 20px;
  }
}

.formHeader {
  margin-bottom: 27px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputEmail {
  margin-bottom: 24px;
}

.inputPassword {
  margin-bottom: 12px;
}

.forgotPasswordContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 60px;
}

.forgotPasswordLink {
  width: 138px;
  padding: 6px 12px;
}

.signInButton {
  margin-bottom: 20px;
}

.infoText {
  margin-bottom: 7px;
}

.signInLink {
  padding: 4px 10px;
  color: var(--color-accent-500);

  &:hover,
  &:focus {
    color: var(--color-accent-300);
  }

  &:active {
    color: var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-accent-900);
  }

  &:visited {
    padding: 4px 10px;
    color: var(--color-accent-500);

    &:disabled {
      color: var(--color-accent-900);
    }

    &:active {
      color: var(--color-accent-700);
    }

    &:hover,
    &:focus {
      color: var(--color-accent-300);
    }
  }
}
