.box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputBox {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  box-sizing: border-box;
  width: 100%;
  min-width: 150px;
  height: 36px;
  padding: 6px 12px;

  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-dark-100);

  background-color: var(--color-dark-900);
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
  outline: none;

  &::placeholder {
    color: var(--color-text-secondary);
  }

  &:disabled {
    color: var(--color-dark-300);
  }

  &:focus {
    background-color: var(--color-dark-900);
    border-color: var(--color-info-700);
  }

  &:active:enabled {
    color: var(--color-light-100);
    background-color: var(--color-dark-900);
    border-color: var(--color-light-100);
  }

  &:hover:not(&:disabled) {
    background-color: var(--color-dark-700);
  }

  &.error {
    border-color: var(--color-danger-300);
  }
}

.label {
  padding-bottom: 1px;
  color: var(--color-dark-100);
}

.search {
  text-indent: 30px;

  &::-webkit-search-cancel-button {
    display: none;
  }
}

.searchIcon {
  position: absolute;
  top: 55%;
  left: 12px;
  transform: translateY(-50%);

  display: grid;
  place-items: center;

  width: 20px;
  height: 20px;
}

.buttonIcon {
  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-55%);

  width: 20px;
  height: 20px;
}

.error {
  color: var(--color-danger-300);
}
