.selectRoot {
  user-select: none;
  display: flex;
  flex-direction: column;
}

.label {
  color: var(--color-dark-100);
}

.labelDisabled {
  color: var(--color-dark-300);
}

.selectContent {
  box-sizing: border-box;
  background-color: var(--color-dark-900);
  border: 1px solid var(--color-dark-300);
  border-radius: 0.12rem;
}

.selectItem {
  user-select: none;

  display: flex;
  align-items: center;

  width: calc(var(--radix-select-trigger-width) - 2px);
  height: 26px;
  padding: 0 0.13rem 0 0.38rem;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  &[data-disabled] {
    pointer-events: none;
    color: white;
  }

  &[data-highlighted] {
    color: var(--color-accent-300);
    background-color: var(--color-accent-900);
    outline: none;
  }
}

.selectValue {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-light-100);
}

.selectIcon {
  fill: var(--color-light-100);
}

.selectTrigger {
  display: inline-flex;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;

  width: var(--radix-select-trigger-width);
  min-height: 26px;
  padding: 0 0.13rem 0 0.38rem;

  background-color: var(--color-dark-900);
  border: 1px solid var(--color-dark-300);
  border-radius: 0.12rem;

  &:active {
    border: 1px solid var(--color-dark-100);

    .selectContent {
      border: 1px solid var(--color-dark-100);
    }
  }

  &:hover {
    background-color: var(--color-dark-500);
    border: 1px solid var(--color-dark-100);
  }

  &:focus {
    outline: 2px solid var(--color-info-700);
  }

  &[data-disabled] {
    pointer-events: none;
    color: var(--color-dark-300);

    .selectIcon {
      fill: var(--color-dark-300);
    }
  }
}
