.signUpWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 420px;
  padding: 33px 36px;
}

.formTitle {
  margin-bottom: 27px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputEmail {
  margin-bottom: 24px;
}

.inputPassword {
  margin-bottom: 24px;
}

.inputConfirmPassword {
  margin-bottom: 60px;
}

.formButton {
  margin-bottom: 20px;
}

.infoText {
  margin-bottom: 7px;
  color: var(--color-light-900);
}

.signInLink {
  padding: 4px 10px;
  color: var(--color-accent-500);

  &:hover,
  &:focus {
    color: var(--color-accent-300);
  }

  &:active {
    color: var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-accent-900);
  }

  &:visited {
    padding: 4px 10px;
    color: var(--color-accent-500);

    &:disabled {
      color: var(--color-accent-900);
    }

    &:active {
      color: var(--color-accent-700);
    }

    &:hover,
    &:focus {
      color: var(--color-accent-300);
    }
  }
}
