.overlay {
  position: fixed;
  z-index: 2;
  inset: 0;

  overflow-y: auto;
  display: grid;
  place-items: center;

  background-color: rgb(0 0 0 / 70%);

  animation: overlay-show 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.content {
  width: 90vw;
  max-width: 542px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500, #333);
  border-radius: 2px;

  animation: content-show 200ms cubic-bezier(0.16, 1, 0.3, 1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 18px 24px;

  border-bottom: 1px solid var(--color-dark-500);
}

.closeButton {
  cursor: pointer;
  display: flex;
  width: 24px;
  height: 24px;
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes content-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
