.decksTable {
  width: 100%;
  margin-bottom: 24px;
}

.tableRow {
  border-bottom: 1px solid var(--color-dark-500);
}

.cellName {
  display: flex;
  gap: 10px;
  align-items: center;
}

.deckImg {
  max-width: 118px;
  max-height: 48px;
}

.buttonsCell {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.link {
  padding: 0;
  background: none;
  box-shadow: 0 0 0 0 transparent;
}
