.decksTable {
  width: 100%;
  margin-bottom: 24px;
}

.tableRow {
  vertical-align: middle;
  border-bottom: 1px solid var(--color-dark-500);

  &[aria-disabled='true'] {
    pointer-events: none;
    opacity: 0.5;
  }
}

.cellNameWithImage {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;

  & > p:hover {
    color: var(--color-accent-300);
  }
}

.deckImg {
  max-width: 118px;
  max-height: 48px;
  object-fit: cover;
}

.decksTable .buttonsCell {
  width: 68px;
  padding: 0 24px 0 0;
  white-space: nowrap;
}

.startLerningLink {
  margin-right: 10px;
  padding: 0;

  vertical-align: middle;

  background: none;
  box-shadow: 0 0 0 0 transparent;

  &[aria-disabled='true'] {
    pointer-events: none;
    opacity: 0.2;
  }

  &:last-child {
    margin-right: 0;
  }

  &:active {
    color: var(--color-accent-300);
    background-color: transparent;
  }

  &:hover {
    color: var(--color-accent-300);
    background-color: transparent;
    transition: color 0.2s ease;
  }
}

.iconButton {
  margin-right: 10px;
  padding: 0;

  vertical-align: middle;

  background: none;
  box-shadow: 0 0 0 0 transparent;

  &:last-child {
    margin-right: 0;
  }

  &:disabled {
    color: var(--color-light-100);
    opacity: 0.2;
    background-color: transparent;
  }

  &:active:enabled {
    color: var(--color-accent-300);
    background-color: transparent;
  }

  &:hover:enabled {
    color: var(--color-accent-300);
    background-color: transparent;
    transition: color 0.2s ease;
  }
}

.disabledLink {
  display: inline-flex;
  margin-right: 10px;
  vertical-align: middle;
  opacity: 0.2;

  &:last-child {
    margin-right: 0;
  }
}
