.root {
  width: 100%;
}

.deckOwnerWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.flexWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.deckImg {
  max-width: 200px;
  margin-bottom: 25px;

  img {
    width: 100%;
    object-fit: cover;
  }
}
