.root {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;

  width: 100%;
  height: var(--header-height);
  padding: 12px 16px;

  background: var(--color-dark-700);
  border-bottom: 1px solid var(--color-dark-500);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.logo {
  display: block;
  height: 36px;
}

.dropdownWrapper {
  display: flex;
  column-gap: 15px;
  align-items: center;
}

.userEmail {
  display: flex;
  border-bottom: 1px dashed;
}

.iconButton {
  cursor: pointer;
  display: flex;
}

.emailColor {
  color: var(--color-dark-100);
}

.flexColumn {
  display: flex;
  flex-direction: column;
}
