/* stylelint-disable shorthand-property-no-redundant-values */
.goback {
  min-width: 100%;
  margin-bottom: 36px;
}

.content {
  padding: 48px 36px;
  max-width: 420px;
}

.title {
  margin-bottom: 45px;
  text-align: center;
}

.count {
  color: var(--color-dark-100);

  margin-bottom: 17px;
}

.answer {
  margin: 18px 0 12px 0;
}

.rate {
  margin-bottom: 12px;
}

.image {
  align-self: center;
  max-width: 100%;
  max-height: 120px;
  object-fit: cover;
  margin: 18px 0;
}

.form {
  & .radio {
    margin-bottom: 29px;
  }
}
