/* stylelint-disable shorthand-property-no-redundant-values */
.goback {
  min-width: 100%;
  margin-bottom: 36px;
}

.content {
  max-width: 420px;
  padding: 48px 36px;
}

.title {
  margin-bottom: 45px;
  text-align: center;
}

.count {
  margin-bottom: 35px;
  color: var(--color-dark-100);
}

.answer {
  margin: 18px 0 12px 0;
}

.rate {
  margin-bottom: 12px;
}

.image {
  align-self: center;

  max-width: 100%;
  max-height: 120px;
  margin: 18px 0;

  object-fit: cover;
}

.form {
  & .radio {
    margin-bottom: 29px;
  }
}
