.newPasswordWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 420px;
  min-height: 384px;
  padding: 33px 36px;
}

.formTitle {
  margin-bottom: 51px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputPassword {
  margin-bottom: 19px;
}

.infoText {
  margin-bottom: 41px;
  color: var(--color-light-900);
  opacity: 0.5;
}
