/* reset */
button,
fieldset,
input {
  all: unset;
}

.TabsRoot {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.TabsList {
  display: flex;
  flex-shrink: 0;
}

.TabsTrigger {
  user-select: none;

  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  height: 45px;
  padding: 0 20px;

  font-family: inherit;
  font-size: 15px;
  line-height: 1;
  color: var(--color-light-100);

  background-color: var(--color-dark-900);
  border: 1px solid var(--color-dark-300);
}

//.TabsTrigger:first-child {
//  border-right: 0;
//  border-top-left-radius: 2px;
//  border-bottom-left-radius: 2px;
//}
//
//.TabsTrigger:last-child {
//  border-left: 0;
//  border-top-right-radius: 2px;
//  border-bottom-right-radius: 2px;
//}

.TabsTrigger:nth-child(even) {
  border-left: 1px solid var(--color-dark-300);
}

.TabsTrigger:nth-child(odd) {
  border-right: 1px solid var(--color-dark-300);
}

.TabsTrigger:hover {
  color: var(--color-light-900);
  background-color: var(--color-dark-100);
}

.TabsTrigger:active {
  color: var(--color-light-100);
  background-color: var(--color-accent-500);
}

.TabsTrigger[data-state='active'] {
  color: var(--color-light-100);
}

.TabsTrigger:focus {
  position: relative;
  background-color: var(--color-accent-500);
}

.TabsTrigger:disabled {
  color: var(--color-dark-300);
  background-color: var(--color-dark-700);
}
