.sliderWrapping {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-width: 251px;
}

.valueDisplay {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 36px;
  min-height: 36px;

  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
}

.root {
  touch-action: none;
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
}

.track {
  position: relative;

  width: 100%;
  height: 4px;

  background-color: rgb(140 97 255 / 50%);
  border-radius: 10px;
}

.range {
  position: absolute;
  height: 100%;
  opacity: 1;
  background-color: var(--color-accent-500);
}

.thumb {
  touch-action: pan-x;
  cursor: pointer;

  position: relative;

  display: block;

  width: 16px;
  height: 16px;

  background-color: var(--color-accent-500);
  border-radius: 9999px;
  outline: none;

  transition: transform 0.2s ease-in-out;

  &::after {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 8px;
    height: 8px;

    background-color: var(--color-light-100);
    border-radius: 9999px;
  }

  &:hover {
    background-color: var(--color-accent-300);
  }
}
