/* reset */
button,
fieldset,
input {
  all: unset;
}

.TabsWrapping {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.TabsRoot {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.TabsList {
  display: flex;
  flex-shrink: 0;
}

.TabsTrigger {
  user-select: none;

  align-items: center;
  justify-content: center;

  height: 36px;
  padding: 6px 24px;

  font-family: inherit;
  font-size: 15px;
  line-height: 1;
  color: var(--color-light-100);

  background-color: var(--color-dark-900);
  border: 1px solid var(--color-dark-300);
  border-left: 0;

  &,
  & * {
    cursor: pointer;
  }

  &[data-state='active'] {
    color: var(--color-light-100);
    background-color: var(--color-accent-500);

    &:disabled {
      opacity: 0.5;
    }
  }

  &:first-child {
    border-left: 1px solid var(--color-dark-300);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  &:last-child {
    border-left: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  &:active {
    color: var(--color-light-100);
    background-color: var(--color-accent-500);
  }

  &:focus {
    position: relative;
    background-color: var(--color-accent-500);
  }

  &:disabled {
    color: var(--color-dark-300);
    background-color: var(--color-dark-700);
  }

  &:not([data-state='active']):hover {
    color: var(--color-light-900);
    background-color: var(--color-dark-100);
  }
}
