.deckPage {
  align-items: flex-start;
  margin-top: 24px;
  padding-bottom: 30px;
}

.goBack {
  margin-bottom: 33px;
}

.input {
  margin-bottom: 24px;
}

.emptyText {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}
