.customAvatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

.avatarGroup {
  position: relative;
}

.iconImage {
  cursor: pointer;

  position: absolute;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  background-color: var(--color-dark-300);
  border-radius: 4px;
  box-shadow: 0 0 5px var(--color-dark-300);

  transition: 0.2s;

  &:hover {
    box-shadow: 0 0 5px var(--color-info-300);

    path {
      fill: var(--color-info-300);
    }
  }
}
