.container {
  padding: 24px;
}

.input {
  margin-bottom: 24px;
}

.buttonUploadImage {
  margin-bottom: 24px;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 36px;
}
