.form {
  width: 100%;
  padding: 24px 24px 36px;
}

.formField {
  margin-bottom: 24px;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 36px;
}
