.cellWrapper {
  display: flex;
  align-items: center;
}

.deckImg {
  padding-right: 10px;
}

.height60 {
  height: 60px;
}

.displayFlex {
  display: flex;
  align-items: center;
}

.arrowUp {
  margin-left: 4px;
  fill: var(--color-light-100);
}

.headCards {
  display: flex;
  align-items: center;
}

.link {
  margin-right: 10px;
  padding: 0;
  background: none;
  box-shadow: 0 0 0 0 transparent;
}
