.table {
  border-collapse: collapse;

  width: 100%;

  border-right: 1px solid var(--color-dark-500);
  border-bottom: 1px solid var(--color-dark-500);
  border-left: 1px solid var(--color-dark-500);
  border-radius: var(--border-radius-s);
}

.headCell {
  user-select: none;

  padding: 6px 24px;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  text-align: left;

  background-color: var(--color-dark-500);
}

.row {
  border-bottom: 1px solid var(--color-dark-500);
}

.cell {
  padding: 6px 24px;
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  text-align: left;
}

.empty {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  .emptyDescription {
    color: var(--color-dark-100);
  }
}
