.root {
  display: flex;
  align-items: end;
  justify-content: center;

  width: 100%;
  margin-bottom: 36px;
}

.input {
  min-width: 30px;
  margin-right: 24px;
}

.tabsWrapping {
  margin-right: 25px;
}

@media (width <= 900px) {
  .root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 0 5px;
  }

  .input {
    margin-right: 0;
    margin-bottom: 24px;
  }

  .tabsWrapping {
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
  }

  .tabsTrigger {
    flex: 1;
    text-align: center;
    padding: 0;
  }
  .slider {
    width: 100%;
    margin-bottom: 24px;
  }
  .buttonClearFilter {
    width: 100%;
  }
}

.slider {
  margin-right: 36px;
}

.buttonClearFilter {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: var(--decksButtons);
  padding: 6px 28px;

  border-radius: 4px;
}

.trashIcon {
  min-width: 16px;
}
