.root {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.itemWrap {
  display: flex;
  align-items: center;

  & .label {
    padding-left: 13px;
    color: var(--color-light-100);

    &:hover {
      cursor: pointer;
    }
  }

  & .item {
    width: 16px;
    height: 16px;
    border: 2px solid var(--color-accent-500);
    border-radius: 100%;

    &:hover {
      cursor: pointer;
      background-color: var(--color-dark-500);
      box-shadow: 0 0 0 10px var(--color-dark-500);
    }

    &:focus {
      background-color: var(--color-dark-700);
      box-shadow: 0 0 0 10px var(--color-dark-700);
    }

    &:active {
      background-color: var(--color-accent-900);
      box-shadow: 0 0 0 10px var(--color-accent-900);
    }

    .indicator {
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;

      &::after {
        content: '';

        display: block;

        width: 10px;
        height: 10px;

        background-color: var(--color-accent-500);
        border-radius: 50%;
      }
    }

    &[data-disabled] {
      border-color: var(--color-accent-900);

      &:active {
        border-color: var(--color-accent-900);
        box-shadow: none;
      }

      &:focus {
        border-color: var(--color-accent-900);
        box-shadow: none;
      }

      &:hover {
        cursor: auto;
        background-color: inherit;
        box-shadow: none;
      }

      & .indicator {
        &::after {
          content: '';
          background-color: var(--color-accent-900);
        }
      }

      & ~ .label {
        color: var(--color-light-900);

        &:hover {
          cursor: auto;
        }
      }
    }
  }
}
